doctype html

html

  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    // Change this to your own name
    title= title

    link(rel='stylesheet' href='./styles/styles.scss')

  body

    header.hero
      .container
        .hero-photo
          figure.image.is-square
            img.is-rounded(src='images/photo.jpg')
        .hero-title
          h1.title.is-1= title
          h3.subtitle.is-3= subtitle

    section.separator
      figure.image.is-32x32
        image(
          src='../node_modules/@fortawesome/fontawesome-free/svgs/solid/angle-down.svg'
          fill="grey"
          width="32"
          height="32"
        )

    section.profile
      .container
        .box.is-shadowless.box-about
          include about.pug
        .box.is-shadowless.box-links
          include links.pug
        .box.box-tips
          include tips.pug
